{% assign cart_amount = cart.original_total_price%}
{% assign tier1_amount = settings.tier1_amount | times: 100 %}
{% assign tier2_amount = settings.tier2_amount | times: 100 %}
{% assign tier3_amount = settings.tier3_amount | times: 100 %}





<div class="free-shipping-progress-bar" style="background-color: {{ settings.bg_color }}; margin-top: {{ settings.margin_top }}; margin-bottom: {{ settings.margin_bottom }}; padding-top: {{ settings.padding_top }}; padding-bottom: {{ settings.padding_bottom }};">
  <div class="__free_shipping_bar">
    {% if cart_amount < tier1_amount %}
      {% assign progress = cart_amount | divided_by: tier1_amount | times: 100 %}
      <div class="__progress" style="width: {{ progress }}%; background-color: {{ settings.progress_color }};"></div>
      <p style="color: {{ settings.text_color }};">Add {{ tier1_amount | minus: cart_amount | money }} more for free shipping!</p>
    {% elsif cart_amount < tier2_amount %}
      {% assign progress = cart_amount | divided_by: tier2_amount | times: 100 %}
      <div class="__progress" style="width: {{ progress }}%; background-color: {{ settings.progress_color }};"></div>
      <p style="color: {{ settings.text_color }};">Add {{ tier2_amount | minus: cart_amount | money }} more for free shipping!</p>
    {% elsif cart_amount < tier3_amount %}
      {% assign progress = cart_amount | divided_by: tier3_amount | times: 100 %}
      <div class="__progress" style="width: {{ progress }}%; background-color: {{ settings.progress_color }};"></div>
      <p style="color: {{ settings.text_color }};">Add {{ tier3_amount | minus: cart_amount | money }} more for free shipping!</p>
    {% else %}
      <div class="__progress" style="width: 100%; background-color: {{ settings.progress_color }};"></div>
      <p style="color: {{ settings.text_color }};">Congratulations! You have qualified for free shipping!</p>
    {% endif %}
  </div>
</div>

